:root {
    --grey-color: #eaecf1;
    --text-color: #050B15;
    --text-shadow: #5D5E5F;
    --icon-hover: #D9D9D9;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #0e244d, #8a376c);
}

.App {
    padding: 1rem;
}