:root {
  --grey-color: #eaecf1;
  --text-color: #050b15;
  --text-shadow: #5d5e5f;
  --icon-hover: #d9d9d9;
  --background-white: #ffffff;
  --background-blue: #579dff;
  --background-blue-hover: #85b8ff;
}

body {
  background: linear-gradient(135deg, #0e244d, #8a376c);
  background-attachment: fixed;
  overflow-y: hidden;
}

.App {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  width: 100%;
  min-height: 100vh;
  overflow-x: auto;
}
