.wrapper {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.add-title-open {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--grey-color);
  height: 100%;
  padding: 0.5rem;
  min-width: 18rem;
}

.add-title-button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.add-title-closed {
  display: flex;
  align-items: flex-start;
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 100%;
  min-width: 18rem;
  background-color: var(--grey-color);
}

.add-title-closed:hover {
  background-color: var(--icon-hover);
  cursor: pointer;
}

.add-title-text {
  color: var(--text-shadow);
  font-size: 1.2rem;
}
